body {
  margin-left: 20em;
  margin-right: 20em;
}

.title {

}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 100pt;
  line-height: 1em;
  margin-bottom: 20px;
}

h2 {
  font-family: serif;
  font-weight: lighter;
  font-size: 12pt;
  width: 23em;
}

h3 {
  font-family: 'BenchNine', sans-serif;
  font-size: 10pt;
  font-weight: lighter;
  letter-spacing: -0.05em;
}

.firstletter {
  font-size: 60pt;
  color: black;
}

.paragraph {
  column-count: 2;
  text-align: left;
  color: grey;
}

#footer {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 8pt:
}
